@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  overflow-x: hidden;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0 15px;
  background: #ffffff;
}
@media (max-width: 991px) {
  header {
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
  }
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .slidebar-btn {
  width: 26px;
  height: 25px;
  position: relative;
  margin: 7px 0 0 0;
  display: none;
}
@media (max-width: 991px) {
  header .slidebar-btn {
    display: block;
  }
}
header .slidebar-btn span {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 12px;
  background: #004397;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
header .slidebar-btn span::before, header .slidebar-btn span::after {
  content: "";
  left: 0;
  top: -9px;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #004397;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
header .slidebar-btn span::after {
  top: 9px;
}
header .slidebar-btn.active span {
  background: transparent;
}
header .slidebar-btn.active span::before {
  top: 0;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .slidebar-btn.active span::after {
  top: 0;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 991px) {
  header .brand-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
  }
}
header .brand-logo img {
  height: 40px;
}
@media (max-width: 768px) {
  header .brand-logo img {
    height: 35px;
  }
}
header .nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  header .nav {
    position: fixed;
    width: 60%;
    height: 100%;
    left: 0;
    top: 60px;
    background: #ffffff;
    z-index: 6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}
header .nav li {
  margin-left: 55px;
}
@media (max-width: 1190px) {
  header .nav li {
    margin-left: 40px;
  }
}
header .nav a {
  color: #000000;
  font-weight: 500;
  display: inline-block;
  padding: 30px 0;
  position: relative;
  line-height: normal;
}
header .nav a::after {
  content: "";
  display: inline-block;
  background: linear-gradient(99.12deg, #2196F3 -10.98%, #0D47A1 105.41%);
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header .nav a:hover {
  color: #004093;
}
header .nav a:hover::after {
  width: 100%;
}
header .nav .search::after {
  display: none;
}
header .sidebar-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .sidebar-slide .search-bar {
  margin-left: 35px;
}

@media (max-width: 991px) {
  main {
    position: relative;
    margin-top: 60px;
  }
}

footer {
  background: #282D32;
  color: #f6f6f6;
  border-top: #1D85E1 solid 8px;
  padding: 60px 0 110px 0;
}
@media (max-width: 1375px) {
  footer {
    padding: 60px 15px 110px 15px;
  }
}
@media (max-width: 1190px) {
  footer {
    padding: 35px 0;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 25px;
    border-top: #1D85E1 solid 5px;
  }
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1190px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .copyright {
  margin-left: 20px;
}
@media (max-width: 768px) {
  footer .copyright {
    display: block;
    margin-left: 0;
    padding-top: 20px;
  }
}
@media (max-width: 1190px) {
  footer .foot-info {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  footer .foot-info {
    text-align: center;
  }
}
@media (max-width: 768px) {
  footer .foot-info img {
    height: 40px;
  }
}
footer .foot-link {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  footer .foot-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .foot-link li {
  margin-left: 35px;
}
@media (max-width: 768px) {
  footer .foot-link li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  footer .foot-link li:last-of-type {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
footer .foot-link a {
  color: #f6f6f6;
  display: inline-block;
}
footer .foot-link a:hover {
  text-decoration: underline;
}
footer .foot-link .link-social {
  border: 1px solid #F6F6F6;
  border-radius: 40px;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 768px) {
  footer .foot-link .link-social {
    padding: 10px 25px;
  }
}
footer .foot-link .link-social img {
  margin-right: 5px;
  height: 22px;
  -webkit-filter: invert(96%) sepia(16%) saturate(0%) hue-rotate(139deg) brightness(105%) contrast(93%);
          filter: invert(96%) sepia(16%) saturate(0%) hue-rotate(139deg) brightness(105%) contrast(93%);
}
footer .foot-link .link-social:hover {
  text-decoration: none;
  background-color: #f6f6f6;
  color: #000000;
}
footer .foot-link .link-social:hover img {
  -webkit-filter: none;
          filter: none;
}

.banner {
  background: -webkit-gradient(linear, right top, left top, from(#2196F3), to(#0D47A1));
  background: linear-gradient(-90deg, #2196F3 0%, #0D47A1 100%);
  color: #fff;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 90px 30px;
}
@media (max-width: 991px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px;
  }
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7%;
  width: 100%;
  height: 100%;
  background: url(../images/banner_right_after.svg) right top no-repeat;
  background-size: 70%;
  opacity: 0.7;
  z-index: 0;
}
@media (max-width: 991px) {
  .banner::after {
    right: 0;
    background-size: 100%;
  }
}
.banner .slogan {
  width: 100%;
  max-width: 605px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
@media (max-width: 1190px) {
  .banner .slogan {
    max-width: 520px;
  }
}
@media (max-width: 991px) {
  .banner .slogan {
    width: calc(100% - 40px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.banner .slogan span {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3333;
  color: #e2e2e2;
}
@media (max-width: 991px) {
  .banner .slogan span {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .banner .slogan span {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}
@media (max-width: 991px) {
  .banner h1 {
    margin: 0 0 25px 0;
  }
}
.banner h2 {
  font-size: 120px;
  font-weight: 100;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
@media (max-width: 1190px) {
  .banner h2 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .banner h2 {
    font-size: 45px;
    margin-bottom: 15px;
  }
}
.banner b {
  font-weight: bold;
}
.banner .color_secondary {
  color: #FFE500;
}
.banner a {
  color: #004397;
  text-decoration: none;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 380px;
  width: calc(100% - 40px);
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.banner a:hover {
  background: #FFE500;
}
@media (max-width: 768px) {
  .banner a {
    font-size: 18px;
  }
}
.banner .slogan_dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin-left: -70px;
}
@media (max-width: 991px) {
  .banner .slogan_dec {
    margin-left: 0;
  }
}
.banner .slogan_dec .slogan_img {
  max-width: 750px;
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 991px) {
  .banner .slogan_dec .slogan_img {
    display: none;
  }
}
.banner .slogan_dec .subtitle {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.banner .apply_btn b {
  color: #DB0000;
}

.articleBlock01 h3, .articleBlock03 h3 {
  font-size: 34px;
  font-weight: 500;
  color: #ffffff;
  background: url(../images/title_bg.svg) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 65px;
  max-width: 245px;
  padding: 0 30px;
  line-height: 76px;
}
@media (max-width: 991px) {
  .articleBlock01 h3, .articleBlock03 h3 {
    font-size: 24px;
    max-width: 190px;
    height: 50px;
    line-height: 58px;
    padding: 0 25px;
    margin-right: 0;
  }
}

.articleBlock01 {
  padding: 60px 0 0 0;
  overflow: hidden;
}
@media (max-width: 1190px) {
  .articleBlock01 {
    padding: 30px 20px 0 20px;
  }
}
.articleBlock01 h3 {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .articleBlock01 h3 {
    margin-bottom: 25px;
  }
}
.articleBlock01 .article_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  position: relative;
}
@media (max-width: 1190px) {
  .articleBlock01 .article_content {
    padding: 0 12px;
    margin-bottom: 60px;
  }
}
@media (max-width: 640px) {
  .articleBlock01 .article_content {
    padding: 0 30px;
  }
}
.articleBlock01 .guest {
  position: relative;
  width: calc(25% - 30px);
  margin-bottom: 0;
  z-index: 1;
}
@media (max-width: 991px) {
  .articleBlock01 .guest {
    width: calc(50% - 30px);
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .articleBlock01 .guest {
    width: 100%;
  }
}
.articleBlock01 .guest:before, .articleBlock01 .guest:after {
  content: "";
  position: absolute;
  z-index: -1;
}
.articleBlock01 .guest::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #2196F3 0%, #0D47A1 95%, transparent 95%);
}
.articleBlock01 .guest::after {
  top: 4px;
  left: 3px;
  width: 98%;
  height: 98%;
  background: linear-gradient(150deg, #fff 0%, #fff, #fff, #fff 95%, transparent 95%);
}
.articleBlock01 .guest img {
  width: 100%;
  margin: 13px 0 0 -12px;
}
.articleBlock01 .caption {
  padding: 20px;
}
.articleBlock01 .caption h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 8px;
}
.articleBlock01 .caption p {
  color: #282D33;
  font-weight: 400;
}
.articleBlock01 .issue_content {
  font-size: 48px;
  font-weight: 400;
  color: #0D47A1;
  margin-bottom: 120px;
}
@media (max-width: 1190px) {
  .articleBlock01 .issue_content {
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .articleBlock01 .issue_content {
    padding-left: 100px;
    font-size: 24px;
    margin-bottom: 60px;
  }
}
.articleBlock01 .issue_content .issue_bg {
  position: relative;
  margin: 0 0 0 40px;
}
@media (max-width: 768px) {
  .articleBlock01 .issue_content .issue_bg {
    margin: 0 0 0 -65px;
  }
}
.articleBlock01 .issue_content .issue_bg::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -67px;
  background: url("../images/title_frame01_bg.svg");
  width: 580px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 768px) {
  .articleBlock01 .issue_content .issue_bg::before {
    width: 100%;
    height: 65px;
    top: 15px;
    left: -35px;
    background-position: left;
  }
}
.articleBlock01 .issue_content span {
  font-weight: 700;
}
.articleBlock01 .guest_vip::after {
  content: "";
  display: inline-block;
  background: url(../images/rectangle_element.svg) center no-repeat;
  background-size: 100%;
  width: 280px;
  height: 280px;
  position: absolute;
  z-index: -2;
  left: 17%;
  top: 20%;
}
.articleBlock01 .guest_p01::before, .articleBlock01 .guest_p01:after {
  content: "";
  display: inline-block;
  background: url(../images/rectangle_element.svg) center no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -2;
}
.articleBlock01 .guest_p01::before {
  width: 250px;
  height: 250px;
  left: -20%;
  top: 40%;
}
.articleBlock01 .guest_p01::after {
  width: 450px;
  height: 450px;
  right: -30%;
  top: -45%;
}
@media (max-width: 768px) {
  .articleBlock01 .guest_p01::after {
    top: auto;
    bottom: 0;
  }
}
.articleBlock01 .guest_p02::before {
  content: "";
  display: inline-block;
  background: url(../images/rectangle_element.svg) center no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -2;
}
.articleBlock01 .guest_p02::before {
  width: 250px;
  height: 250px;
  left: -20%;
  top: 40%;
}
.articleBlock01 .issue_text {
  font-size: 24px;
  color: #003F8D;
  margin-top: 40px;
  margin-left: -25px;
}
@media (max-width: 768px) {
  .articleBlock01 .issue_text {
    margin-top: 25px;
    font-size: 18px;
    margin-left: -100px;
    line-height: 1.333;
  }
}
@media (max-width: 551px) {
  .articleBlock01 .issue_text {
    font-size: 16px;
  }
}

.articleBlock02 {
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, right top, from(#2196F3), to(#0D47A1));
  background: linear-gradient(90deg, #2196F3 0%, #0D47A1 100%);
}
@media (max-width: 1190px) {
  .articleBlock02 {
    padding: 60px 30px;
  }
}
@media (max-width: 768px) {
  .articleBlock02 {
    padding: 30px 15px;
  }
}
.articleBlock02 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 200;
  position: relative;
}
@media (max-width: 1190px) {
  .articleBlock02 h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .articleBlock02 h2 {
    margin-bottom: 20px;
  }
}
.articleBlock02 h2:before, .articleBlock02 h2:after {
  content: "";
  display: inline-block;
  background: url(../images/title_white_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 505px;
  height: 40px;
  position: absolute;
  background-size: cover;
}
@media (max-width: 1190px) {
  .articleBlock02 h2:before, .articleBlock02 h2:after {
    max-width: 380px;
    height: 30px;
    background-repeat: repeat;
  }
}
@media (max-width: 991px) {
  .articleBlock02 h2:before, .articleBlock02 h2:after {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .articleBlock02 h2:before, .articleBlock02 h2:after {
    display: none;
  }
}
.articleBlock02 h2:before {
  left: 0;
}
.articleBlock02 h2:after {
  right: 0;
}
.articleBlock02 .agenda-plan {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .articleBlock02 .agenda-plan {
    margin-bottom: 35px;
  }
}
.articleBlock02 .item {
  position: relative;
}
.articleBlock02 .item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  z-index: 0;
  background: linear-gradient(155deg, transparent 8%, #000 8%, #000 92%, transparent 92%);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  opacity: 0.25;
}
@media (max-width: 768px) {
  .articleBlock02 .item::before {
    display: none;
  }
}
.articleBlock02 .itemblur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(155deg, transparent 8%, #f7f7f7 8%, #f7f7f7 92%, transparent 92%);
  padding: 30px 60px;
  color: #0D47A1;
  font-weight: 600;
  position: relative;
  z-index: 1;
  height: 120px;
}
@media (max-width: 991px) {
  .articleBlock02 .itemblur {
    background: #f7f7f7;
    height: auto;
    padding: 25px 30px;
  }
}
@media (max-width: 768px) {
  .articleBlock02 .itemblur {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 15px;
  }
}
.articleBlock02 .itemblur .time {
  font-size: 32px;
  max-width: 205px;
  display: block;
  width: 100%;
  text-align: right;
  font-family: "Noto Sans TC";
}
@media (max-width: 991px) {
  .articleBlock02 .itemblur .time {
    font-size: 24px;
    max-width: 152px;
  }
}
.articleBlock02 .itemblur .text {
  position: relative;
  padding: 0 0 0 33px;
  margin: 0 0 0 30px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 1.3333;
}
@media (max-width: 991px) {
  .articleBlock02 .itemblur .text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .articleBlock02 .itemblur .text {
    padding: 8px 0 0 0;
    margin: 0;
    min-height: auto;
    text-align: center;
  }
}
.articleBlock02 .itemblur .text:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background: linear-gradient(99.12deg, #2196F3 -10.98%, #0D47A1 105.41%);
  position: absolute;
  left: 0;
}
@media (max-width: 768px) {
  .articleBlock02 .itemblur .text:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .articleBlock02 .itemblur .text br {
    display: none;
  }
}
.articleBlock02 .item + .item {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .articleBlock02 .item + .item {
    margin-top: 15px;
  }
}
.articleBlock02 .btn {
  text-align: center;
}
.articleBlock02 .btn a {
  color: #004397;
  font-size: 24px;
  font-weight: 600;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  display: inline-block;
  max-width: 350px;
  width: 100%;
}
.articleBlock02 .btn a:hover {
  background: #FFE500;
}

.articleBlock03 {
  padding: 80px 0;
}
@media (max-width: 1375px) {
  .articleBlock03 {
    padding: 30px 0;
  }
}
@media (max-width: 1190px) {
  .articleBlock03 {
    padding: 30px 20px;
  }
}
.articleBlock03 h3 {
  margin-right: 45px;
}
@media (max-width: 991px) {
  .articleBlock03 h3 {
    margin-right: 0;
  }
}
.articleBlock03 .unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .articleBlock03 .unit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .articleBlock03 .unit + .unit {
    margin-top: 30px;
  }
}
.articleBlock03 .unit-host .unit-img {
  width: 100%;
  max-width: 350px;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-host .unit-img {
    max-width: 220px;
  }
}
.articleBlock03 .unit-guide .unit-img, .articleBlock03 .unit-organizer .unit-img {
  width: 100%;
  max-width: 200px;
}
@media (max-width: 551px) {
  .articleBlock03 .unit-guide .unit-img, .articleBlock03 .unit-organizer .unit-img {
    text-align: center;
  }
}
@media (max-width: 551px) {
  .articleBlock03 .unit-guide .unit-img img, .articleBlock03 .unit-organizer .unit-img img {
    width: 100%;
    max-width: 130px;
  }
}
.articleBlock03 .unit-guide span, .articleBlock03 .unit-organizer span {
  font-size: 22px;
  line-height: 1.3333;
  font-weight: 500;
  min-height: 65px;
  display: inline-block;
  color: #000000;
}
@media (max-width: 1375px) {
  .articleBlock03 .unit-guide span, .articleBlock03 .unit-organizer span {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .articleBlock03 .unit-guide span, .articleBlock03 .unit-organizer span {
    font-size: 18px;
    display: block;
    text-align: center;
    min-height: auto;
  }
}
.articleBlock03 .unit-guide .unit-img a:hover span, .articleBlock03 .unit-organizer .unit-img a:hover span {
  text-decoration: underline;
}
.articleBlock03 .unit-organizer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-organizer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.articleBlock03 .unit-organizer h3 {
  margin-top: 90px;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-organizer h3 {
    margin-top: 0;
  }
}
.articleBlock03 .unit-img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-img-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.articleBlock03 .unit-img-group .unit-img {
  margin-right: 50px;
  width: 100%;
  max-width: 190px;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-img-group .unit-img {
    margin: 0 25px;
  }
}
@media (max-width: 551px) {
  .articleBlock03 .unit-img-group .unit-img {
    max-width: 230px;
  }
}
.articleBlock03 .unit-img-group .unit-img:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 991px) {
  .articleBlock03 .unit-img-group .unit-img:nth-child(4n) {
    margin-right: 25px;
  }
}
.articleBlock03 .unit-img-group span {
  display: block;
  text-align: center;
}